.ViewAllCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 2rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.ViewAllCard .ViewAllCard_Container {
  width: 80%;
}
.ViewAllCard .ViewAllCard_Container h1 {
  text-align: center;
  line-height: 0.5rem;
}

hr {
  height: 1.5px;
  background-color: black;
  border-color: black;
  border-radius: 10px;
  width: 50%;
  margin-bottom: 1rem;
}

.item1 {
  grid-area: delete;
  justify-self: right;
  padding-right: 2rem;
}
.item2 {
  grid-area: done;
  min-width: 10rem;
  height: 1rem;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
}
.item3 {
  grid-area: title;
  height: 100%;
  display: flex;
  align-items: center;
}
.item4 {
  grid-area: date;
  font-weight: bold;
}
.item5 {
  grid-area: description;
  min-width: 10rem;
  height: 100%;
}

.ViewAllCard .task_box {
  max-width: 1000px;
  height: 6rem;
  border-radius: 27px;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: grid;
  grid-template-areas:
    "title done done date"
    "title description description delete";
  overflow: hidden;
  padding: 0rem 1rem;
}

@media screen and (max-width: 500px) {
  .ViewAllCard {
    padding: 2rem 0.1rem;
  }
}
