.ViewAllPage {
  background-color: var(--background-color);
  height: 100%;
  /* width: 100%; */
  margin: 0 auto;
  /* overflow-x: scroll; */
}
/* 
.ViewAllPage .ViewAllPage_Container {
} */
@media screen and (max-width: 940px) {
}
