.NavBar {
  height: 6rem;
  background-color: #fd9998;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.NavBar .NavBar_Container {
  display: flex;
  justify-content: center;
}

.NavBar .nav_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 1.5rem;
  width: 15rem;
}

.NavBar .icon_container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 40px;
  padding: 1rem 1.3rem 1rem 1.3rem;
}
